/*gradient css reference: https://webgradients.com/*/
body {
  /*background-image: url(figures/background.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom;*/

  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.profile{
	text-align:center;
	width:600px;
	height:600px;
	font-size:20px;
	margin-left:auto;margin-right:auto;margin-top:3%;
}
.text{
	text-align:left;
	
}

.personal_style{
    border-radius: 20%;
    padding: 5px;
    width:200px;
    height:250px;
}

.institute_style{
    width:150px;
    height:150px;
}

.icon_css{
    width:18px;
    height:18px;
    margin-top:-5px;
    margin-right:1px;
}

.member_table{
    border-collapse: separate; 
    border-spacing: 30px;
}

.member_table>tr.spaceUnder>td {
  padding-bottom: 10em;
}

.title{
  text-align:center; color: brown; 
  font-family: 'Raleway',sans-serif; 
  font-size: 26px; 
  font-weight: 800;
}

.period_style{
  color: #9D9D9D;
}