
body {
	background-color:#FFFFF6;
}
.profile{
	text-align:center;
	width:350px;
	height:350px;
	font-size:20px;
	margin-left:auto;margin-right:auto;margin-top:3%;
}
.text{
	text-align:left;
	
}
.footer_css {
	margin-top:10%;
    position: relative;
    text-align: center;
    color: black;
	width:100%;
	
}

.footer_css {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  #background-color: #efefef;
  background-image: url('footer.png');
  background-size:100% 100%;
  #width:100%;
  height:25%;
  text-align: center;
}