.news {
    font-size: 16px;
    text-align: left;
}

.main{
	text-align:center;
	width:800px;
	/*height:600px;*/
	font-size:16px;
	margin-left:auto;margin-right:auto;
}

.profile {
    margin-top:5%;
    padding: 5%;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.1ch;
    background: #ffffff;
    position: relative;
    font-family: Arial;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

/*.personal_intro{
    background-image: url('figures/test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}*/

.text{
	text-align:left;
	
}

/*CSS for abstract*/
.abstract{
    font-size:16px;
    display: none;
}

.personal_style{
    /* border-radius: 20%; */
    /* padding: 5px;
    width: 25%; */
    width: 90%;
    /* width:200px;
    height:230px; */
}

.institute_style{
    width:200px;
    height:100px;
}


.teaser_style{
    height:220px;
    width:440px;
}

.title_icon {
    width: 44px;
    margin-bottom: 7px;
}

.icon_css{
    width:22px;
    height:22px;
    margin-top:-5px;
    margin-right:2px;
}

.member_table{
    border-collapse: separate; 
    border-spacing: 30px;
}

.member_table>tr.spaceUnder>td {
  padding-bottom: 10em;
}

.title{
  text-align:center; color: brown; 
  font-family: 'Raleway',sans-serif; 
  font-size: 26px; 
  font-weight: 600;
  padding: 10px;
  border-bottom: 2px solid black;
  margin-top: 5%;
  margin-bottom: 2%;
  /*Border: 1px solid black;*/
}

.period_style{
  color: #9D9D9D;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slideInFromBot {
  0% {
    transform: translateY(15%);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

body {
    background:#EEECEC;
}

header {  
  animation: 1.5s ease-out slideInFromTop;
  background: #333;
  padding: 30px 0px 30px 0px;
}

footer {
    height:300px;
}
.header_css {
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
    color:#fff;
    font-size:36px;
    text-align:center;
}

.header_css a {
    color:#fff;
    font-size:28px;
    text-decoration: underline;
}
.title_css {
    /*font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
    margin-top:5%;
    font-size:28px;
    color:#fff;
    background: #333;
    text-align:center;
    padding: 10px 10px 10px 10px;*/
    text-align:center; color: rgb(88, 43, 43); 
    font-family: 'Raleway',sans-serif; 
    font-size: 24px; 
    font-weight: 600;
    width: 800px;
    margin-left: auto; margin-right: auto; margin-top:3%; margin-bottom:3%;
}

/*CSS for all research abstract*/
.research_abstract{
    text-align:justify;
    font-size: 16px;
    font-weight:bold;
    width: 600px;
    margin-left: auto; margin-right: auto; margin-bottom: 3%;
    font-family: Arial;
}

.author_css{
    width: 350px;
    font-size:28px;
    text-align:center;
}

.abs_css{
    width: 350px;
    padding: 20px 30px 20px 30px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-size:16px;
    text-align: justify;
    margin-right:1%;
}

.bio{
    /* margin-top:5px;
    margin-bottom:5px; */
    text-align:justify;
}

.system_css{
    text-align:center;
    margin-top:5%;
}

.spon_css{
    margin-bottom:5%;
    width:300px;
}

.element-to-hide{
    opacity:0;
}

.fade_in{
    animation:  1.5s ease-out slideInFromBot;
    -webkit-animation: 1.5s ease-out slideInFromBot; /* Safari and Chrome */
}

.row_css{
    margin-top:5%;
}

.citation{

    background-color: #E0E0E0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



/*CSS for all research titles*/
.research_title{
	/*width: 900px;*/
	text-align:justify;
    font-size: 16px;
    font-weight:bold;
}

/*CSS for research authors*/
.research_author{
	font-size:16px;
	color:#0066CC;
}

/*CSS for research where it's from*/
.research_from{
	font-size:16px;
	color:gray;
	font-style:italic;
}

.col_style{
    text-align:left;
}


.research_topic{
    display:inline-block;
    width:800px;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1px;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
    border:solid 5px hsla(0, 95%, 35%, 1);
}

.publication{
    margin-top:3%;
    text-align: left;
}

li{
    margin: 10px 0;
  }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.slideRight {
    visibility: visible;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(8%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50% {
        -webkit-transform: translateX(8%);
    }
    65% {
        -webkit-transform: translateX(-4%);
    }
    80% {
        -webkit-transform: translateX(4%);
    }
    95% {
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

/*
.bgimg {
    z-index: 2;
    height: 300px;
    width: 500%;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('figures/test.jpg');
    background-repeat: none;
}*/

.jumbotron{
    margin-bottom: 420px;
}
.jumbotron .container{
    position: relative;
    z-index: 2;
}

.jumbotron-title{
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    background: #000 url('figures/test.jpg') center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}