.carousel_content{/*更改投影片內容字體*/
	
	color:#b0c4de;
	font-size:60px;
	font-family:Arial, sans-serif;
}

.W1366{
	width: 1366px;
}

.heading-text {
	height:152px;/*與heading的長度相同*/
	width:142px;
    text-align:center;
	color:#b0c4de;
}

.video-style{
	
	 width:"840px"; 
	 height:"400px";
}

.inner-html-size{
	width:100%;
}
.inner-html{
	transform: scale(1.0);
	transform-origin:0 0; 
	-ms-transform: scale(1.0); //ie
	-ms-transform-origin:0 0;
	-moz-transform: scale(1.0); //firefox
	-moz-transform-origin:0 0;
	-o-transform: scale(1.0); //opera
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.0); //chrome
	-webkit-transform-origin: 0 0;
	
	
	
	background-color:;
}

.modal-title-style{
	color:;
	font-size:15px;
}
.modal-header {
    padding:9px 15px;
    border-bottom:0px;
    background-color:#00BBFF;
 }
 .modal-style{
	width:47.5%;
	margin-left:auto;
	margin-right:auto;
 }
 .modal-content-style{
	height:650px
 }
 
 
