/*css fade in and out
#crossfade > img { 
				width: 100%;
				height: 80%;
				position: absolute;
				top: 100px;
				left: 0px;
				color: transparent;
				opacity: 0;
				z-index: 0;
				-webkit-backface-visibility: hidden;
				-webkit-animation: imageAnimation 30s linear infinite 0s;
				-moz-animation: imageAnimation 30s linear infinite 0s;
				-o-animation: imageAnimation 30s linear infinite 0s;
				-ms-animation: imageAnimation 30s linear infinite 0s;
				animation: imageAnimation 30s linear infinite 0s; 
			}
			#crossfade > img:nth-child(1)  { 
				background-image: url(carousel_picture/art.jpg);
				-webkit-animation-delay: 6s;
				-moz-animation-delay: 6s;
				-o-animation-delay: 6s;
				-ms-animation-delay: 6s;
				animation-delay: 6s; 
			}
			#crossfade > img:nth-child(2) { 
				background-image: url(carousel_picture/technology.jpg);
				-webkit-animation-delay: 12s;
				-moz-animation-delay: 12s;
				-o-animation-delay: 12s;
				-ms-animation-delay: 12s;
				animation-delay: 12s; 
			}
			#crossfade > img:nth-child(3) { 
				background-image: url(carousel_picture/engineering.jpg);
				-webkit-animation-delay: 18s;
				-moz-animation-delay: 18s;
				-o-animation-delay: 18s;
				-ms-animation-delay: 18s;
				animation-delay: 18s; 
			}
			#crossfade > img:nth-child(4) { 
				background-image: url(carousel_picture/science.jpg);
				-webkit-animation-delay: 24s;
				-moz-animation-delay: 24s;
				-o-animation-delay: 24s;
				-ms-animation-delay: 24s;
				animation-delay: 24s; 
			}
			#crossfade > img:nth-child(5) { 
				background-image: url(carousel_picture/math.jpg);
				-webkit-animation-delay: 30s;
				-moz-animation-delay: 30s;
				-o-animation-delay: 30s;
				-ms-animation-delay: 30s;
				animation-delay: 30s; 
			}

		@-webkit-keyframes imageAnimation { 
			0% { opacity: 0;
			-webkit-animation-timing-function: ease-in; }
			8% { opacity: 1;
				 -webkit-animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}

		@-moz-keyframes imageAnimation { 
			0% { opacity: 0;
			-moz-animation-timing-function: ease-in; }
			8% { opacity: 1;
				 -moz-animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}

		@-o-keyframes imageAnimation { 
			0% { opacity: 0;
			-o-animation-timing-function: ease-in; }
			8% { opacity: 1;
				 -o-animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}

		@-ms-keyframes imageAnimation { 
			0% { opacity: 0;
			-ms-animation-timing-function: ease-in; }
			8% { opacity: 1;
				 -ms-animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}

		@keyframes imageAnimation { 
			0% { opacity: 0;
			animation-timing-function: ease-in; }
			8% { opacity: 1;
				 animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}
		
		<div id= "crossfade">
		  <img src="carousel_picture/art.jpg" />
		  <img src="carousel_picture/technology.jpg" />
		  <img src="carousel_picture/engineering.jpg" />
		  <img src="carousel_picture/science.jpg" />
		  <img src="carousel_picture/math.jpg" />
		</div>
*/

.heading-text {
	height:30px;/*與heading的長度相同*/
	width:120px;
    text-align:center;
	color:#b0c4de;
	font-size: 20px;

}

#allBTN{
	position: absolute;
	top: 100%;
}

.btnDiv{
	padding-left: 20px;
}

.video-style{

	 width:840px;
	 height:400px;
}

.inner-html-size{
	width:90%;
	margin-left:100px;
}
.inner-html{
	transform: scale(1.0);
	transform-origin:0 0;
	-ms-transform: scale(1.0); //ie
	-ms-transform-origin:0 0;
	-moz-transform: scale(1.0); //firefox
	-moz-transform-origin:0 0;
	-o-transform: scale(1.0); //opera
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.0); //chrome
	-webkit-transform-origin: 0 0;



	/*background-color:;*/
}

.modal-title-style{
	/*color:;*/
	font-size:15px;
}
.modal-header {
    padding:9px 15px;
    border-bottom:0px;
    background-color:#8C8C8C;
 }
 .modal-style{
	width:47.5%;
	margin-left:auto;
	margin-right:auto;
 }
 .modal-content-style{
	height:650px;
 }
 .modal-content{/*Change modal background color*/
	background-color: #363636;
 }
 .panel-default > .panel-heading {
	background-color:#636363;
 }
 .panel-body{
	background-color:#636363;
 }
 .nsysu-style{
	/*for picture nsysu, dont delete*/
	position:absolute;
	
}
.tophead-style{
	margin-top:10px;
	margin-left:20px;
	color:white;
	font-size:35px;
	font-family: DFKai-sb;
}
.fade-in-out{
	 
	 height:700px;
	 width:100%;
	 margin-left:auto;
	 margin-right:auto;
	 margin-bottom:6%;
 }
.heading-img{
	
	height:100%;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}


