
/* body {background-color: #ffff84b3;} */

.title {
    text-align: center;
    font-size:50px;
    font-weight: bold;
    margin: auto;
    width: 100%;
    /* border: 3px solid green; */
    padding: 40px;
    background: rgb(169, 221, 251);
}

.jump {
    text-align: center;
    font-size: 28px;
    margin: auto;
    width: 70%;
}

.author {
    text-align: center;
    font-size:30px;
    margin: auto;
    width: 70%;
    /* border: 1px solid; */
}

.institution {
    text-align: center;
    font-size:30px;
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
}

.gif {
    text-align: center;
    padding: 2px;
}

.gif_size {
    width:30%;
}

.error_des{
    font-size:18px;
}

.gif_error_size{
    width:100%;
}

.gif_act_size{
    width:100%;
}

.sub_title{
    text-align: center;
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    /* border-bottom-style: solid green; */
    border-bottom: 1px solid #909090;
}

.error_title {
    font-family: Serif;
    font-size: 30px;
    color: rgb(89, 120, 244);
}

.error_row {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white;
}

.citation_download{
    text-align: center;
    font-size: 20px;
}

.bibtex {
    white-space: pre-wrap;
    padding: 1px;
    font-size: 16px;
    word-wrap: break-word;
    overflow: auto;
    background: solid;
    background-color: #E6E7E8;
    border-radius: 0.3em;
    margin: auto;
    width: 50%;
    text-align: left;
}